<!DOCTYPE html>
<html>
<head>
    <title>Simple Web Scraper</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <div class="color">
        <h1>Website Scraper</h1>
        <form method="POST">
        <div class="form1">
            <input id="form1" type="text" name="url" placeholder="Enter website URL" required>
        </div>
        <div class="but">
            <button type="submit">Scrape</button>
        </div>
        
    </form>

    </div>
    

    {% if data %}
        <h2>Scraped Data:</h2>
        <ul>
            {% for item in data %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>