body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f4f4;
}

h1 {
    color: #333;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    width: 300px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
.color{
    display: flex;
    align-items: center;
    width: 50vw;
    flex-direction: column;
    box-shadow: 5px 5px 5px hsl(187, 76%, 53%,0.4);
    height: 50vh;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
    row-gap: 20px;
    background-color: hsl(160, 100%, 75%,0.4);

}
.but{
    display: flex;
    justify-content: center;
}
button{
    border-radius: 10px;
    background: hsl(240, 100%, 50%,0.5);
    box-shadow: 5px 5px 5px  hsl(187, 76%, 53%,0.4);
}
#form1{
    border-radius: 10px;
    border-color: aquamarine;
}
button:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-shadow: 2px;
    color: rgb(44, 53, 180);
}